<div ng-controller="BillController" class="bill-content">
    <div class="content-header">{{title}}</div>
    <div class="content-main">
        <div class="bill-header">
            <span>账单列表</span><span>日期</span><span>金额</span>
        </div>
        <ul class="bill-main">
            <li ng-repeat="item in billItems">
                <span>{{item.title}}</span><span>{{item.date| date:'yyyy.MM.dd'}}</span><span>{{item.amount| currency:'￥'}}</span>
            </li>
        </ul>
        <div class="bill-footer">
            <div class="bill-pager-container">当前页
                <span class="bill-pager">{{pagerText}}</span>
            </div>
            <div class="bill-amount-container">总计
                <span class="bill-amount">{{amountText}}</span>
            </div>
        </div>
    </div>
    <toolbar items="|"></toolbar>

</div>