<div ng-controller="IndexController" class="index-content">
    <div class="content-header"></div>
    <div class="content-main">
        <p class="index-guest-name">{{index.guestName}}</p>
        <p class="index-welcome-text">{{index.welcomeText}}</p>
        <pre class="index-sub-welcome-text">{{index.subWelcomeText}}</pre>
        <div class="index-room-language">
            <p class="index-room-number">{{index.roomNumber}}</p>
        </div>
    </div>
    <toolbar items="|"></toolbar>
    <menu></menu>
</div>
