<div ng-controller="TestController" class="test-content">
    <div class="room-container" style="text-align: center;margin: 100px auto">
        <span class="img-container" id="test">
            <img src="assets/images/test.png" height="253px" width="192px" style="opacity: 1;position: relative">
            <img src="assets/images/test.png" height="253px" width="192px" style="opacity: 1;position: relative">
            <img src="assets/images/test.png" height="253px" width="192px" style="opacity: 1;position: relative">
        </span>
        <div id="stage">
            <div id="container">
                <img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">
                <img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">
                <img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">
                <img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">
                <img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">
                <img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">
                <img src="assets/images/bg_window.jpg" height="213px" width="120px" class="rotate">
            </div>
        </div>
    </div>
</div>