
/* index styles */

.welcome-content {
    text-align: center;
    color: #ffffff;
    margin-top: 138px;
}

/* index page */
.index-content {
    text-align: center;
    color: #ffffff;
}

.index-guest-name {
    font-size: 64px;
    padding: 60px;
}

.index-welcome-text {
    font-size: 42px;
    margin: -8px 0 8px 0;
}

.index-sub-welcome-text {
    font-size: 40px;
    line-height: 140%;
}

.index-room-number {
    font-size: 64px;
    padding: 54px;
}

.welcome-content>i {
    display: inline-block;
    width: 306px;
    height: 105px;
    margin: -16px 41px 16px 41px;
    line-height: 105px;
    font-size: 36px;
    background: url("../images/ic_button.png");
}

.welcome-content>i.active {
    background: url("../images/ic_button_active.png");
}

.index-language-hint {
    font-size: 32px;
}
