.rotate_img{
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    transition: transform 1s;
}

.rotate_down{
    animation: down 1s forwards;
    -moz-animation: down 1s forwards;	/* Firefox */
    -webkit-animation: down 1s forwards;	/* Safari 和 Chrome */
    -o-animation: down 1s forwards;
}

@keyframes down
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(-90deg);top: 130px;
    }
}

@-moz-keyframes down /* Firefox */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(-90deg);top: 130px;
    }
}

@-webkit-keyframes down /* Safari 和 Chrome */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(-90deg);top: 130px;
    }
}

@-o-keyframes down /* Opera */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(-90deg);top: 130px;
    }
}

.test_animation{
    animation: myfirst 0.5s forwards;
    -moz-animation: myfirst 0.5s forwards;	/* Firefox */
    -webkit-animation: myfirst 0.5s forwards;	/* Safari 和 Chrome */
    -o-animation: myfirst 0.5s forwards;
}


@keyframes myfirst
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(90deg);top: -130px;
    }
}

@-moz-keyframes myfirst /* Firefox */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(90deg);top: -130px;
    }
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(90deg);top: -130px;
    }
}

@-o-keyframes myfirst /* Opera */
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    0%{
        -webkit-transform:rotatex(0deg);top: 0;
    }
    100%{
        -webkit-transform:rotatex(90deg);top: -130px;
    }
}

#test{
    display: inline-block;
}

#test1{
    margin-top: 500px;
}

#stage{
    perspective: 800px;
}

#container{
    transform-style: preserve-3d;
}

.rotate{
    transform: rotatex(75deg);
}

.img-container{
    top:-300px;
    left: 220px;
    position: absolute;

    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    transition: transform 1s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.animation{
    animation: test 0.5s forwards;
    -moz-animation: test 0.5s forwards;	/* Firefox */
    -webkit-animation: test 0.5s forwards;	/* Safari 和 Chrome */
    -o-animation: test 0.5s forwards;
}


@keyframes test
{
    from {width: 191px;height: 340px;top: 0}
    to {width: 229.2px;height: 408px;top:-34px}
}

@-moz-keyframes test /* Firefox */
{
    from {width: 191px;height: 340px;top: 0}
    to {width: 229.2px;height: 408px;top:-34px}
}

@-webkit-keyframes test /* Safari 和 Chrome */
{
    from {width: 191px;height: 340px;top: 0}
    to {width: 229.2px;height: 408px;top:-34px}
}

@-o-keyframes test /* Opera */
{
    from {width: 191px;height: 340px;top: 0}
    to {width: 229.2px;height: 408px;top:-34px}
}