.test_animation{
    animation: myfirst 1s forwards;
    -moz-animation: myfirst 1s forwards;	/* Firefox */
    -webkit-animation: myfirst 1s forwards;	/* Safari 和 Chrome */
    -o-animation: myfirst 1s forwards;
}


@keyframes myfirst
{
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    from{opacity:1}
    to{opacity: 0}
    /*0%{*/
        /*-webkit-transform:rotatex(0deg);top: 0;opacity: 1;*/
    /*}*/
    /*100%{*/
        /*-webkit-transform:rotatex(90deg);top: -126.5px;opacity: 0;*/
    /*}*/
}

@-moz-keyframes myfirst /* Firefox */
{
    from{opacity:1}
    to{opacity: 0}
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    /*0%{*/
        /*-webkit-transform:rotatex(0deg);top: 0;opacity: 1;*/
    /*}*/
    /*100%{*/
        /*-webkit-transform:rotatex(90deg);top: -126.5px;opacity: 0;*/
    /*}*/
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    from{opacity:1}
    to{opacity: 0}
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    /*0%{*/
        /*-webkit-transform:rotatex(0deg);top: 0;opacity: 1;*/
    /*}*/
    /*100%{*/
        /*-webkit-transform:rotatex(90deg);top: -126.5px;opacity: 0;*/
    /*}*/
}

@-o-keyframes myfirst /* Opera */
{
    from{opacity:1}
    to{opacity: 0}
    /*from {width: 192px;height: 253px;opacity: 1;top: 0}*/
    /*to {width: 192px;height: 253px;opacity: 0;top:-126.5px}*/
    /*0%{*/
        /*-webkit-transform:rotatex(0deg);top: 0;opacity: 1;*/
    /*}*/
    /*100%{*/
        /*-webkit-transform:rotatex(90deg);top: -126.5px;opacity: 0;*/
    /*}*/
}

#test{
    display: inline-block;
    height: 200px;
}

#stage{
    perspective: 800px;
}

#container{
    transform-style: preserve-3d;
}

.rotate{
    transform: rotatex(75deg);
}