
/* toolbar */

.toolbar:after {
    content: '';
    display: block;
    clear: both;
}

.toolbar {
    line-height: 36px;
    color: #ffffff;
}

.toolbar .center, .toolbar li {
    height: 40px;
    padding: 0 25px;
    font-size: 22px;
}

.toolbar .center:before, .toolbar li:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.toolbar .center>img, .toolbar li>img {
    height: 70%;
    max-height: 100%;
    vertical-align: middle;
    margin-top: -4px;
}

.toolbar .ng-binding {
    font-size: 24px;
}

.toolbar>.left {
    float: left;
    width: 418px;
    height: 100%;
    overflow: hidden;
}

.toolbar>.left li {
    float: left;
}

.toolbar>.right li {
    float: right;
}

.toolbar>.right {
    float: left;
    width: 418px;
    height: 100%;
    overflow: hidden;
}

.toolbar>.center {
    float: left;
    width: 250px;
    height: 100%;
    overflow: hidden;
}
